# Python
*.py[cod]
__pycache__/
venv/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/

# Compiled files
*.pyd
*.pyo
*.pyw
*.pyz
*.pyzw

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Environment
.env
.env.*

# Script Outputs
results/*
output/*
*.xml

# Etc
.DS_Store
